@model EmployeeReviewApp.Models.EmployeeModel
@{
    ViewBag.Title = "Login Page";
}

@using (Html.BeginForm("Index", "EmployeeReview", FormMethod.Post, null))
{
    <div class="row-fluid" style="margin-top:8%">
        <center>
            <img src="~/Images/User.jpg" />
            <div class="form-group" style="margin-top:20px">
                @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", placeholder = "Employee Name" })
                @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" style="margin-top:25px">
                @Html.DropDownList("Designations", "Designation")
            </div>
            <input type="submit" class="btn btn-primary" style="margin-top:30px" value="Next" />
        </center>
    </div>
}
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
<script type='text/javascript'>
    $(document).ready(function () {
        $("select").addClass("form-control");
        $("#Designations").prop("disabled", true);
        $("#EmployeeName").blur(function () {
            $.ajax({
                type: "GET",
                url: 'http://localhost:50889/api/Home/GetEmployeeDesignation',
                data: { employeeName: document.getElementById("EmployeeName").value },
                dataType: 'json',
                cache: false,
                success: function (response) {
                    var designationID = response.DesignationID;
                    if (designationID > 0) {
                        $("#Designations").val(designationID);
                    } else {
                        $("#Designations").val("");
                        alert("Employee Not Found!!!");
                    }
                },
                failure: function (response) {
                    alert("failure -> " + response.responseText);
                },
                error: function (response) {
                    alert("error -> " + response.responseText);
                }
            });
        });
    });
</script>
